<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}<!-- block meta  -->{% endblock %}
    <title>{% block title %} ? {% endblock %} - 刘杰的个人网站</title>
    <link rel="stylesheet" href="/static/css/uikit.min.css">
    <link rel="stylesheet" href="/static/css/uikit.gradient.min.css">
    <script src="/static/js/lib/jquery.min.js"></script>
    <script src="/static/js/lib/sha1.min.js"></script>
    <script src="/static/js/lib/uikit.min.js"></script>
    <script src="/static/js/lib/sticky.min.js"></script>
    <script src="/static/js/common.js"></script>
    <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=4212499711" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/weibo_component.js"></script>
    <script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?d67879e4644ace3153d9d62ee12987eb";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
    </script>
    {% block beforehead %}<!-- before head  -->{% endblock %}
</head>
<body>
    <nav class="uk-navbar uk-navbar-attached uk-margin-large-bottom">
        <div class="uk-container">
            <a href="/" class="uk-navbar-brand uk-hidden-small">刘杰的个人网站</a>
            <a href="/" class="uk-navbar-brand uk-visible-small"><i class="uk-icon-home uk-icon-small"></i></a>
            <ul class="uk-navbar-nav uk-hidden-small">
                <li><a href="/essay">随笔</a></li>
                <li><a href="/windows">Windows开发</a></li>
                <li><a href="/ml">机器学习</a></li>
                <li>
                    <a target="_blank" href="https://github.com/BurnellLiu/burnell-web">源码</a>
                </li>
            </ul>
            <ul class="uk-navbar-nav uk-visible-small">
                <li class="uk-parent" data-uk-dropdown>
                        <a><i class="uk-icon-bars uk-icon-small"></i></a>
                        <div class="uk-dropdown uk-dropdown-navbar">
                            <ul class="uk-nav uk-nav-navbar">
                                <li><a href="/essay">随笔</a></li>
                                <li><a href="/windows">Windows开发</a></li>
                                <li><a href="/ml">机器学习</a></li>
                                <li>
                                    <a target="_blank" href="https://github.com/BurnellLiu/burnell-web">源码</a>
                                 </li>
                            </ul>
                        </div>
                    </li>
            </ul>
            <div class="uk-navbar-flip">
                <ul class="uk-navbar-nav">

                {% if __user__ %}
                    <li class="uk-parent" data-uk-dropdown>
                        <a>
                            <img class="uk-border-rounded" height="40" width="40" src="{{ __user__['image'] }}">
                            {{ __user__['name'] }}
                        </a>
                        <div class="uk-dropdown uk-dropdown-navbar">
                            <ul class="uk-nav uk-nav-navbar">
                                <li><a onclick="weiboLogout()"><i class="uk-icon-sign-out"></i>登出</a></li>
                            </ul>
                        </div>
                    </li>

                {% if __user__['admin'] %}
                    <li><a href="/manage/blogs"><i class="uk-icon-cog"></i>后台管理</a></li>
                {% endif %}

                {% else %}
                    <li><a onclick="weiboLogin()"><i class="uk-icon-weibo uk-icon-small"></i>&nbsp;微博登录</a></li>
                    <!--
                    <li><a href="/signin"><i class="uk-icon-sign-in"></i> 登陆</a></li>
                    <li><a href="/register"><i class="uk-icon-edit"></i> 注册</a></li>
                    -->
                {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="uk-container uk-container-center">
        <div class="uk-grid">
            <!-- content -->
            {% block content %}
            {% endblock %}
            <!-- // content -->
        </div>
    </div>

    <div class="uk-margin-large-top" style="background-color:#eee; border-top:1px solid #ccc;">
        <div class="uk-container uk-container-center uk-text-center">
            <div class="uk-panel uk-margin-top uk-margin-bottom">
                <p><a target="_blank" href="http://www.miitbeian.gov.cn/">苏ICP备16059872号</a></p>
                <p>Copyright &copy; 2016. <a href="http://www.burnelltek.com/" target="_blank">www.burnelltek.com</a>. All rights reserved.</p>
            </div>

        </div>
    </div>
</body>
</html>
