{% extends '__base__.html' %}

{% block title %}博客列表{% endblock %}

{% block beforehead %}

{% endblock %}

{% block content %}
    <div class="uk-width-3-4">
    {% for blog in blogs %}
            <div class="uk-grid">
                <div class="uk-width-1-3">
                    <a href="/blog/{{ blog.id }}"><img width="100%" src="{{ blog.cover_image }}"></a>
                </div>
                <div class="uk-width-2-3">
                    <article class="uk-article">
                        <h1 class="uk-article-title"><a href="/blog/{{ blog.id }}">{{ blog.name }}</a></h1>
                        <p class="uk-article-meta">发表于:&nbsp;{{ blog.created_at|datetime }}&nbsp;&nbsp;阅读:&nbsp;{{ blog.read_times }}</p>
                        <!--都是英文或数字会造成浏览器认为这是一个单词，在<p>标签中不会被换行，所以需要加上属性style="word-wrap: break-word;"-->
                        <p style="word-wrap: break-word;">{{ blog.summary}}</p>
                        <p><a class="uk-button uk-button-primary" href="/blog/{{ blog.id }}">继续阅读&nbsp;<i class="uk-icon-angle-double-right"></i></a></p>
                    </article>
                </div>
            </div>

        <hr class="uk-article-divider">
    {% endfor %}
        <ul class="uk-pagination">
        {% if page.has_previous %}
            <li><a href="/{{ type }}?page={{ page.page_index - 1 }}"><i class="uk-icon-angle-double-left"></i></a></li>
        {% else %}
            <li class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span></li>
        {% endif %}
            <li class="uk-active"><span>{{ page.page_index }}</span></li>
        {% if page.has_next %}
            <li><a href="/{{ type }}?page={{ page.page_index + 1 }}"><i class="uk-icon-angle-double-right"></i></a></li>
        {% else %}
            <li class="uk-disabled"><span><i class="uk-icon-angle-double-right"></i></span></li>
        {% endif %}
        </ul>

    </div>

{% endblock %}