{% extends '__base__.html' %}

{% block title %}{{ blog.name }}{% endblock %}

{% block beforehead %}


<script src="/static/js/blog_detail.js"></script>
<script type="text/javascript"
  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>

{% endblock %}

{% block content %}

    <div class="uk-width-large-3-4">
        <article class="uk-article">
            <h1 class="uk-article-title">{{ blog.name }}</h1>
            <p class="uk-article-meta">发表于:&nbsp;{{ blog.created_at|datetime }}&nbsp;&nbsp;阅读:&nbsp;{{ blog.read_times }}</p>
            <p><img width="100%" src="{{ blog.cover_image }}"></p>
            <p class="uk-article-meta">除特别注明外，本站所有文章均为<a href="http://www.burnelltek.com">刘杰的个人网站</a>原创</p>
            <p class="uk-article-meta">转载请注明出处：
                <a href="http://www.burnelltek.com/blog/{{ blog.id }}">http://www.burnelltek.com/blog/{{ blog.id }}</a>
            </p>
            <p>{{ blog.html_content|safe}}</p>
        </article>

        <hr class="uk-article-divider">

        <p class="uk-h3 uk-text-bold">分享给朋友阅读吧</p>
        <wb:share-button
                appkey="4212499711"
                addition="full"
                type="button"
                ralateUid="1794132970"
                pic="{{ blog.cover_image }}">
        </wb:share-button>

        <hr class="uk-article-divider">

    {% if __user__ %}
        <h3>发表评论</h3>

        <article id="new-comment" class="uk-comment">
            <header class="uk-comment-header">
                <img class="uk-comment-avatar uk-border-rounded" width="50" height="50" src="{{ __user__.image }}">
                <h4 class="uk-comment-title">{{ __user__.name }}</h4>
            </header>
            <div class="uk-comment-body">
                <form id="form-comment" class="uk-form">
                    <div class="uk-alert uk-alert-danger uk-hidden"></div>
                    <div class="uk-form-row">
                        <textarea id="new-comment-text" rows="6" placeholder="说点什么吧" style="width:100%;resize:none;"></textarea>
                    </div>
                    <div class="uk-form-row">
                        <button type="submit" class="uk-button uk-button-primary"><i class="uk-icon-comment"></i> 发表评论</button>
                    </div>
                </form>
            </div>
        </article>

        <hr class="uk-article-divider">
    {% else %}
        <p class="uk-h4 uk-text-bold">您还未登录，登录微博账号发表精彩评论</p>
        <p><a class="uk-button uk-button-primary" onclick="weiboLogin()"><i class="uk-icon-weibo uk-icon-small"></i>&nbsp;微博登录</a></p>
        <hr class="uk-article-divider">
    {% endif %}

        <h3>最新评论</h3>

        <ul class="uk-comment-list">
            {% for comment in comments %}
            <li>
                <article class="uk-comment">
                    <header class="uk-comment-header">
                        <img class="uk-comment-avatar uk-border-rounded" width="50" height="50" src="{{ comment.user_image }}">
                        <h4 class="uk-comment-title">{{ comment.user_name }} {% if comment.user_id==blog.user_id %}(作者){% endif %}</h4>
                        <p class="uk-comment-meta">发表于:&nbsp;{{ comment.created_at|datetime }}&nbsp;&nbsp;
                            {% if __user__ %}
                            <a class="uk-comment-meta" onclick="commentReply(this)" author="{{ comment.user_name }}">
                                回复<i class="uk-icon-reply"></i>
                            </a>
                            {% endif %}
                        </p>
                    </header>
                    <div class="uk-comment-body">
                        {{ comment.html_content|safe }}
                    </div>
                </article>
            </li>
            {% else %}
            <p>还没有人评论...</p>
            {% endfor %}
        </ul>

    </div>

    <div class="uk-width-large-1-4">
        <div class="uk-panel">
            <div class="uk-text-left">
                <h1>&nbsp;</h1>
                <p>&nbsp;</p>
                <img class="uk-border-rounded" width="120" height="120" src="{{ blog.user_image }}">
                <p class="uk-text-bold uk-text-large">刘杰</p>
                <p class="uk-comment-meta">28岁,&nbsp;现居苏州</p>
                <p class="uk-text-bold">微博:</p>
                <wb:follow-button uid="1794132970" type="red_3" width="100%" height="32" ></wb:follow-button>
                <p class="uk-text-bold">微信:</p>
                <p class="uk-text-primary">BurnellLIU</p>
                <p class="uk-text-bold">邮箱:</p>
                <p class="uk-text-primary">burnell_liu@outlook.com</p>
                <p class="uk-text-bold">Github:</p>
                <a class="uk-text-primary" target="_blank" href="https://github.com/BurnellLiu">https://github.com/BurnellLiu</a>
                <p class="uk-text-bold">简介:</p>
                <p class="uk-comment-meta uk-text-large">努力做一个快乐的程序员, good good study, day day up!</p>
            </div>
        </div>
    </div>

{% endblock %}
