{% extends '__base__.html' %}

{% block title %}博客列表{% endblock %}

{% block beforehead %}

{% endblock %}

{% block content %}
    <div class="uk-width-large-3-4">
    {% for blog in blogs %}
            <div class="uk-grid">
                <div class="uk-width-1-3">
                    <a target="_blank" href="/blog/{{ blog.id }}"><img width="100%" src="{{ blog.cover_image }}"></a>
                </div>
                <div class="uk-width-2-3">
                    <article class="uk-article">
                        <h2 class="uk-text-truncate uk-text-bold">
                            <a target="_blank" class="uk-link-reset" href="/blog/{{ blog.id }}">{{ blog.name }}</a>
                        </h2>
                        <p class="uk-article-meta">发表于:&nbsp;{{ blog.created_at|datetime }}&nbsp;&nbsp;阅读:&nbsp;{{ blog.read_times }}</p>
                        <p class="uk-text-break">{{ blog.summary}}</p>
                        <p><a target="_blank" class="uk-button uk-button-primary" href="/blog/{{ blog.id }}">继续阅读&nbsp;<i class="uk-icon-angle-double-right"></i></a></p>
                    </article>
                </div>
            </div>

        <hr class="uk-article-divider">
    {% endfor %}
        <ul class="uk-pagination">
        {% if page.has_previous %}
            <li><a href="/{{ type }}?page={{ page.page_index - 1 }}"><i class="uk-icon-angle-double-left"></i></a></li>
        {% else %}
            <li class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span></li>
        {% endif %}
        {% if (page.page_index) - 4 > 0 %}
            <li><a href="/{{ type }}?page=1"><span>{{ 1 }}</span></a></li>
            <li><span>...</span></li>
        {% endif %}
        {% if (page.page_index) - 4 == 0 %}
            <li><a href="/{{ type }}?page=1"><span>{{ 1 }}</span></a></li>
        {% endif %}
        {% if (page.page_index) - 2 > 0 %}
            <li><a href="/{{ type }}?page={{ page.page_index - 2 }}"><span>{{ page.page_index - 2 }}</span></a></li>
        {% endif %}
        {% if (page.page_index) - 1 > 0 %}
            <li><a href="/{{ type }}?page={{ page.page_index - 1 }}"><span>{{ page.page_index - 1 }}</span></a></li>
        {% endif %}
            <li class="uk-active"><span>{{ page.page_index }}</span></li>
        {% if (page.page_index) + 1 <= page.page_count %}
            <li><a href="/{{ type }}?page={{ page.page_index + 1 }}"><span>{{ page.page_index + 1 }}</span></a></li>
        {% endif %}
        {% if (page.page_index) + 2 <= page.page_count %}
            <li><a href="/{{ type }}?page={{ page.page_index + 2 }}"><span>{{ page.page_index + 2 }}</span></a></li>
        {% endif %}
        {% if (page.page_index) + 3 == page.page_count %}
            <li><a href="/{{ type }}?page={{ page.page_count }}"><span>{{ page.page_count }}</span></a></li>
        {% endif %}
        {% if (page.page_index) + 3 < page.page_count %}
            <li><span>...</span></li>
            <li><a href="/{{ type }}?page={{ page.page_count }}"><span>{{ page.page_count }}</span></a></li>
        {% endif %}
        {% if page.has_next %}
            <li><a href="/{{ type }}?page={{ page.page_index + 1 }}"><i class="uk-icon-angle-double-right"></i></a></li>
        {% else %}
            <li class="uk-disabled"><span><i class="uk-icon-angle-double-right"></i></span></li>
        {% endif %}
        </ul>

    </div>
    <div class="uk-width-large-1-4">
    <div class="uk-panel">
        <h3 class="uk-panel-title uk-text-primary">热门博客</h3>
        <ul class="uk-list uk-list-line">
        {% for blog in hot_blogs %}
            <li>
                <p class="uk-text-truncate">
                    <span class="uk-text-large uk-text-primary uk-text-bold">{{ loop.index }}&nbsp;&nbsp;</span>
                    <a class="uk-link-reset" target="_blank" href="/blog/{{ blog.id }}">{{ blog.name }}</a>
                </p>
            </li>
        {% endfor %}
        </ul>
    </div>
    </div>

{% endblock %}