{% extends '__base__.html' %}

{% block title %}主页{% endblock %}

{% block beforehead %}
    <link rel="stylesheet" href="/static/css/slideshow.css">
    <script src="/static/js/lib/slideshow.js"></script>
{% endblock %}

{% block content %}
    <div class="uk-width-1-1">

    <div class="uk-grid">
        <div class="uk-width-large-3-4">
            <p class="uk-text-success uk-text-large uk-text-bold">最新博客</p>
            <hr class="uk-article-divider">
            <div class="uk-grid">
                <div class="uk-width-large-1-2 uk-margin-small-bottom">
                    {% if new_blog %}
                    <a target="_blank" href="/blog/{{ new_blog.id }}"><img width="100%" src="{{ new_blog.cover_image }}"></a>
                    <article class="uk-article">
                        <h2 class="uk-text-bold uk-text-break">
                            <a target="_blank" class="uk-link-reset" href="/blog/{{ new_blog.id }}">{{ new_blog.name }}</a>
                        </h2>
                        <p class="uk-article-meta">发表于:&nbsp;{{ new_blog.created_at|datetime }}&nbsp;&nbsp;阅读:&nbsp;{{ new_blog.read_times }}</p>
                        <p class="uk-text-break">{{ new_blog.summary}}</p>
                        <p><a target="_blank" class="uk-button uk-button-primary" href="/blog/{{ new_blog.id }}">继续阅读&nbsp;<i class="uk-icon-angle-double-right"></i></a></p>
                    </article>
                    {% endif %}
                </div>
                <div class="uk-width-large-1-2 uk-margin-small-bottom">
                    {% for blog in blogs%}
                    <div class="uk-grid">
                        <div class="uk-width-large-1-3">
                        <a target="_blank" href="/blog/{{ blog.id }}"><img width="100%" src="{{ blog.cover_image }}"></a>
                        </div>
                        <div class="uk-width-large-2-3">
                            <article class="uk-article">
                                <h3 class="uk-text-bold uk-text-break">
                                    <a target="_blank" class="uk-link-reset" href="/blog/{{ blog.id }}">{{ blog.name }}</a>
                                </h3>
                                <p class="uk-article-meta">发表于:&nbsp;{{ blog.created_at|datetime }}&nbsp;&nbsp;阅读:&nbsp;{{ blog.read_times }}</p>
                                <p><a target="_blank" href="/blog/{{ blog.id }}">继续阅读&nbsp;<i class="uk-icon-angle-double-right"></i></a></p>
                            </article>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <p class="uk-text-large uk-text-bold">热门博客</p>
            <hr class="uk-article-divider">

            <div class="uk-grid">
                <div class="uk-width-large-3-5 ">
                    <div class="uk-slideshow">
                        <ul class="uk-slideshow  uk-overlay-active" data-uk-slideshow="{kenburns:true, autoplay:true}" >
                        {% for blog in hot_blogs %}
                            <li>
                                <img width="100%" src="{{ blog.cover_image }}">
                                <div class="uk-overlay-panel">
                                    <p class="uk-text-large uk-text-bold">
                                        <a target="_blank" href="/blog/{{ blog.id }}">{{ blog.name }}</a>
                                    </p>
                                </div>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="uk-width-large-2-5">
                    <div class="uk-panel">
                        <ul class="uk-list uk-list-line">
                        {% for blog in hot_blogs %}
                            <li>
                                <p class="uk-text-truncate">
                                    <span class="uk-text-large uk-text-primary uk-text-bold">{{ loop.index-1 }}&nbsp;&nbsp;</span>
                                    <a class="uk-link-reset" target="_blank" href="/blog/{{ blog.id }}">{{ blog.name }}</a>
                                </p>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="uk-width-large-1-4">
            <div align="center">
                <img width="250" src="/static/img/logo.png">
            </div>
            <hr class="uk-article-divider">
            <div align="center" class="github-widget" data-username="BurnellLiu"></div>
            <script src="../static/js/github_user_widget_en.js"></script>
        </div>
    </div>
    </div>

{% endblock %}